<tr><td style="width:100%;">
<div id="tweetItem<%=id%>" class="tweet" style="
padding-top: 5px;
padding-bottom: 10px;
padding-left: 10px;
">
  <div><b><%=receiverId%> Says:</b></div>
  <div id="itemName<%=tweet%>" style="
  padding-top:5px;
  padding-left:15px;
  ">
  <%=tweet%></div>
</div>
</div>
</td></tr>
