<div id="tweetItem<%=id%>" class="tweet" style="border-top-style: solid; border-color: #98AFC7; border-width: 1px;">
  <div><b><%=receiverId%> Says:</b></div>
  <span id="itemName<%=tweet%>"><%=tweet%></span>
</div>